.timer {
    color: #bf953f;
    font-size: 20px
}

.timer .day,
.timer .hour,
.timer .min,
.timer .sec {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 4px;
    text-align: center
}

.timer .day .format,
.timer .hour .format,
.timer .min .format,
.timer .sec .format {
    color: #222;
    font-size: 10px;
    font-weight: 500;
    opacity: .8;
    width: 40px
}

.timer .number {
    background-color: #111;
    border: 1px solid #bf953f;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 40px
}

.timer .message {
    color: #bf953f;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    opacity: .8;
    text-transform: uppercase
}

.timer .status-tag {
    border-radius: 8px;
    color: #000;
    font-weight: 500;
    margin: 10px auto;
    padding: 8px 0;
    text-align: center;
    width: 270px
}

.timer .status-tag.upcoming {
    background-color: rgb(34 197 94/var(--tw-bg-opacity))
}

.timer .status-tag.running,
.timer .status-tag.upcoming {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.timer .status-tag.running {
    background-color: rgb(37 99 235/var(--tw-bg-opacity))
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.timer .status-tag.expired {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    background-color: rgb(239 68 68/var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (max-width:767.98px) {
    .timer .status-tag {
        width: 100%
    }
}