.google-translate-select-dropdown__activator .google-translate-select-language {
    color: #fff !important
}

.google-translate-select-icon {
    margin-left: 5px
}

.google-translate-select-icon svg path {
    fill: #fff !important
}

.router-link-exact-active {
    color: #ecc762 !important
}

a.nav-link.nuxt-link-exact-active.nuxt-link-active {
    color: #ffd564
}

.navigation-wrapper {
    position: fixed;
    top: 0;
    transition: all .2s ease;
    width: 100%;
    z-index: 20
}

.navigation-wrapper.fixed-top {
    top: 0 !important
}

.navigation-wrapper.fixed-top .logo {
    height: 60px
}

.navigation-wrapper.fixed-top .logo img {
    height: 100%;
    padding: 8px 0
}

.top-bar {
    background: linear-gradient(0deg, #111, #111), linear-gradient(0deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .2));
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    color: #bf953f;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px
}

.top-bar ul.drop {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.top-bar ul.drop li:first-child {
    margin-right: 15px
}

.top-bar ul.drop li.nav-item a.nav-link {
    color: #bf953f !important;
    outline: none
}

.top-bar .social-media {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.top-bar .social-media li {
    margin-right: 10px
}

.top-bar .social-media li a {
    align-items: center;
    background-color: #bf953f;
    border-radius: 50px;
    color: #111;
    display: flex;
    height: 24px;
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease;
    width: 24px
}

.top-bar .social-media li a:hover {
    background-color: #f7d780
}

.main-navbar {
    background-color: #111
}

.main-navbar .join-btn {
    background-color: #bf953f;
    border-radius: 10px;
    color: #111 !important;
    font-weight: 500;
    margin-left: 12px;
    padding: 10px 15px !important;
    transition: all .3s ease
}

.main-navbar .join-btn:hover {
    background-color: #fad97f
}

.navbar-dark .navbar-nav .nav-link {
    color: #bf953f;
    outline: none;
    transition: all .3s ease
}

.logo {
    height: 80px;
    padding: 0;
    transition: all .3s ease
}

.logo img {
    height: 100%
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ecc762
}

.dropdown-menu {
    background-color: #1a1a1a;
    padding: .5rem
}

.dropdown-item {
    border-radius: 5px;
    color: #bf953f;
    padding: .25rem .5rem;
    transition: all .3s ease
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #111;
    color: #ecc762
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ecc762
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 16px;
        padding-left: .7rem;
        padding-right: .7rem
    }
}

@media (max-width:992.98px) {
    .top-bar ul.drop li:first-child {
        display: none !important
    }
    .logo {
        height: 55px
    }
    .body-gap {
        margin-top: 70px !important
    }
    .navigation-wrapper.fixed-top .logo {
        height: 50px
    }
    .main-navbar .join-btn {
        margin-left: 0
    }
    .main-navbar .join-btn a {
        padding-left: 15px;
        padding-right: 15px
    }
}

body,
html {
    background-color: #111;
    font-family: Poppins, sans-serif;
    font-size: 15px
}

.body-gap {
    margin-top: 85px !important
}

.site-loader {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}

.loader {
    border-radius: 50%;
    color: #fff;
    height: 68px;
    perspective: 1000px;
    transform: rotate(45deg);
    width: 68px
}

.loader:after,
.loader:before {
    animation: spin 1s linear infinite;
    border-radius: 50%;
    content: "";
    display: block;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateX(70deg);
    width: inherit
}

.loader:after {
    animation-delay: .4s;
    color: #ecc762;
    transform: rotateY(70deg)
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0)
    }
    to {
        transform: translate(-50%, -50%) rotate(1turn)
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0)
    }
    to {
        transform: translate(-50%, -50%) rotate(-1turn)
    }
}

@keyframes spin {
    0%,
    to {
        box-shadow: .2em 0 0 0 currentcolor
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor
    }
    25% {
        box-shadow: 0 .2em 0 0 currentcolor
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor
    }
    75% {
        box-shadow: 0 -.2em 0 0 currentcolor
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor
    }
}