input:checked~.dot {
    background-color: #ecc762;
    transform: translate(100%)
}

.depo {
    background-color: #e7e9ec;
    color: #515255;
    font-size: 14px;
    text-transform: uppercase
}

.depo-active {
    background-color: #1db912;
    color: #fff
}

.block-loader {
    animation: spinner 1s linear;
    animation-iteration-count: infinite;
    border: 4px solid rgba(236, 199, 98, .329);
    border-radius: 50%;
    border-top-color: #bf953f;
    height: 25px;
    width: 25px
}

@keyframes spinner {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(80deg)
    }
    50% {
        transform: rotate(160deg)
    }
    75% {
        transform: rotate(280deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.fl-ic-size {
    border-radius: 50px;
    height: 24px !important;
    margin-right: 10px;
    width: 24px !important
}

.des-hidden {
    display: none;
    opacity: 0
}

.active-type {
    background-color: #eee !important;
    color: #222 !important
}

.copiped-true input {
    background-color: #e8ffeb;
    border-color: #17af29
}

.copiped-true button {
    background-color: #17af29;
    color: #fff
}

.no-border {
    border: none !important
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ecc762 !important;
    box-shadow: none !important;
    outline: none !important
}

.fund-ico {
    border: 4px solid hsla(0, 0%, 100%, .431);
    border-radius: 50%
}

.fund-title {
    position: relative
}

.fund-title:before {
    background-color: #fff;
    content: "";
    display: block;
    height: 3px;
    opacity: .3;
    position: absolute;
    top: -6px;
    width: 40px
}

.add-submit,
.add-submit i {
    transition: all .1s ease
}

.add-submit:hover i {
    transform: scale(1.1)
}

.error {
    color: #dc3545;
    font-size: 12px;
    font-weight: 600
}