@media (min-width:1200px) {
    .container {
        max-width: 1140px !important
    }
}

.prof-head {
    margin-top: 10px
}

.prof-head h4 {
    display: block;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase
}

.prof-head h4:before {
    background-color: #bf953f;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: -10px;
    width: 60px
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative
}

.image {
    border-radius: 50%;
    height: auto;
    width: 100%
}

.loading-spinner {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.hidden {
    display: none
}

.spinner:after {
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    height: 20px;
    left: calc(50% - 10px);
    position: absolute;
    top: calc(50% - 10px);
    width: 20px
}

.spinner.material:after {
    animation: spinner .6s linear infinite;
    border: 3px solid #ecc762;
    border-right-color: #fff0
}

.spinner.pulse:after {
    animation: pulse 1s ease-in-out infinite;
    background-color: #fff
}

@keyframes spinner {
    to {
        transform: rotate(1turn)
    }
}

@media (max-width:767.98px) {
    .mabil-res {
        max-width: 272px
    }
}