.fi,
.fib {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain
}

.fi {
    display: inline-block;
    line-height: 1em;
    position: relative;
    width: 1.333333em
}

.fi:before {
    content: " "
}

.fi.fis {
    width: 1em
}

.fi-xx {
    background-image: url(./xx.5f776f5b.svg)
}

.fi-xx.fis {
    background-image: url(./xx.84717c7a.svg)
}

.fi-ad {
    background-image: url(./ad.5d1a748c.svg)
}

.fi-ad.fis {
    background-image: url(./ad.bf25de34.svg)
}

.fi-ae {
    background-image: url(./ae.3bc52a4a.svg)
}

.fi-ae.fis {
    background-image: url(./ae.ad238db3.svg)
}

.fi-af {
    background-image: url(./af.14111fcd.svg)
}

.fi-af.fis {
    background-image: url(./af.efdbd7fb.svg)
}

.fi-ag {
    background-image: url(./ag.13128213.svg)
}

.fi-ag.fis {
    background-image: url(./ag.00232b7b.svg)
}

.fi-ai {
    background-image: url(./ai.06aeb7cf.svg)
}

.fi-ai.fis {
    background-image: url(./ai.859fb00e.svg)
}

.fi-al {
    background-image: url(./al.57743b2d.svg)
}

.fi-al.fis {
    background-image: url(./al.55b3378b.svg)
}

.fi-am {
    background-image: url(./am.efb6cdaa.svg)
}

.fi-am.fis {
    background-image: url(./am.57edcffa.svg)
}

.fi-ao {
    background-image: url(./ao.4321af76.svg)
}

.fi-ao.fis {
    background-image: url(./ao.7d6acaf8.svg)
}

.fi-aq {
    background-image: url(./aq.454424bf.svg)
}

.fi-aq.fis {
    background-image: url(./aq.733794b7.svg)
}

.fi-ar {
    background-image: url(./ar.77870402.svg)
}

.fi-ar.fis {
    background-image: url(./ar.d6beeaa2.svg)
}

.fi-as {
    background-image: url(./as.71f068fd.svg)
}

.fi-as.fis {
    background-image: url(./as.40fbde21.svg)
}

.fi-at {
    background-image: url(./at.2754ed2f.svg)
}

.fi-at.fis {
    background-image: url(./at.9152f136.svg)
}

.fi-au {
    background-image: url(./au.cbb2206c.svg)
}

.fi-au.fis {
    background-image: url(./au.1e6796ab.svg)
}

.fi-aw {
    background-image: url(./aw.6cabd939.svg)
}

.fi-aw.fis {
    background-image: url(./aw.e3a9f113.svg)
}

.fi-ax {
    background-image: url(./ax.1f2bddd3.svg)
}

.fi-ax.fis {
    background-image: url(./ax.4702b3f0.svg)
}

.fi-az {
    background-image: url(./az.33ad245b.svg)
}

.fi-az.fis {
    background-image: url(./az.270a8348.svg)
}

.fi-ba {
    background-image: url(./ba.b321fe9b.svg)
}

.fi-ba.fis {
    background-image: url(./ba.07eced7b.svg)
}

.fi-bb {
    background-image: url(./bb.46cfd88a.svg)
}

.fi-bb.fis {
    background-image: url(./bb.9db91e5b.svg)
}

.fi-bd {
    background-image: url(./bd.1aabb4a7.svg)
}

.fi-bd.fis {
    background-image: url(./bd.90f8f20e.svg)
}

.fi-be {
    background-image: url(./be.d6aff6fa.svg)
}

.fi-be.fis {
    background-image: url(./be.ba60828a.svg)
}

.fi-bf {
    background-image: url(./bf.606b17ad.svg)
}

.fi-bf.fis {
    background-image: url(./bf.62cdc2bd.svg)
}

.fi-bg {
    background-image: url(./bg.a2282477.svg)
}

.fi-bg.fis {
    background-image: url(./bg.40e29b66.svg)
}

.fi-bh {
    background-image: url(./bh.7a519f58.svg)
}

.fi-bh.fis {
    background-image: url(./bh.102fe27e.svg)
}

.fi-bi {
    background-image: url(./bi.5ef1a56b.svg)
}

.fi-bi.fis {
    background-image: url(./bi.9508881d.svg)
}

.fi-bj {
    background-image: url(./bj.0a46cbae.svg)
}

.fi-bj.fis {
    background-image: url(./bj.2cbd6426.svg)
}

.fi-bl {
    background-image: url(./bl.d511eb84.svg)
}

.fi-bl.fis {
    background-image: url(./bl.025f596f.svg)
}

.fi-bm {
    background-image: url(./bm.45607c46.svg)
}

.fi-bm.fis {
    background-image: url(./bm.5ce7b2d3.svg)
}

.fi-bn {
    background-image: url(./bn.03fb1b01.svg)
}

.fi-bn.fis {
    background-image: url(./bn.7601c542.svg)
}

.fi-bo {
    background-image: url(./bo.c43d783e.svg)
}

.fi-bo.fis {
    background-image: url(./bo.1ec542e7.svg)
}

.fi-bq {
    background-image: url(./bq.23881e6c.svg)
}

.fi-bq.fis {
    background-image: url(./bq.83723941.svg)
}

.fi-br {
    background-image: url(./br.0de267c8.svg)
}

.fi-br.fis {
    background-image: url(./br.a1883d4a.svg)
}

.fi-bs {
    background-image: url(./bs.1f179c39.svg)
}

.fi-bs.fis {
    background-image: url(./bs.58cdb6c9.svg)
}

.fi-bt {
    background-image: url(./bt.04653c4c.svg)
}

.fi-bt.fis {
    background-image: url(./bt.95eb672d.svg)
}

.fi-bv {
    background-image: url(./bv.d972d58c.svg)
}

.fi-bv.fis {
    background-image: url(./bv.342b164c.svg)
}

.fi-bw {
    background-image: url(./bw.180bfa4e.svg)
}

.fi-bw.fis {
    background-image: url(./bw.6c89aad0.svg)
}

.fi-by {
    background-image: url(./by.c8f5fce1.svg)
}

.fi-by.fis {
    background-image: url(./by.6352ceb3.svg)
}

.fi-bz {
    background-image: url(./bz.c5182369.svg)
}

.fi-bz.fis {
    background-image: url(./bz.7d9d2ef3.svg)
}

.fi-ca {
    background-image: url(./ca.6f183784.svg)
}

.fi-ca.fis {
    background-image: url(./ca.5e8736c4.svg)
}

.fi-cc {
    background-image: url(./cc.51906da2.svg)
}

.fi-cc.fis {
    background-image: url(./cc.6ab691df.svg)
}

.fi-cd {
    background-image: url(./cd.ad93c1af.svg)
}

.fi-cd.fis {
    background-image: url(./cd.64c360bd.svg)
}

.fi-cf {
    background-image: url(./cf.1b58dc20.svg)
}

.fi-cf.fis {
    background-image: url(./cf.2e16b1cf.svg)
}

.fi-cg {
    background-image: url(./cg.628dcfc7.svg)
}

.fi-cg.fis {
    background-image: url(./cg.9accb522.svg)
}

.fi-ch {
    background-image: url(./ch.ac676cd3.svg)
}

.fi-ch.fis {
    background-image: url(./ch.be4b8257.svg)
}

.fi-ci {
    background-image: url(./ci.4ecfea70.svg)
}

.fi-ci.fis {
    background-image: url(./ci.c3f20b8e.svg)
}

.fi-ck {
    background-image: url(./ck.b17c039f.svg)
}

.fi-ck.fis {
    background-image: url(./ck.e5457495.svg)
}

.fi-cl {
    background-image: url(./cl.bcf0ccdf.svg)
}

.fi-cl.fis {
    background-image: url(./cl.b1ef63f1.svg)
}

.fi-cm {
    background-image: url(./cm.c9a327dc.svg)
}

.fi-cm.fis {
    background-image: url(./cm.0899a610.svg)
}

.fi-cn {
    background-image: url(./cn.981da9bd.svg)
}

.fi-cn.fis {
    background-image: url(./cn.b63401f4.svg)
}

.fi-co {
    background-image: url(./co.6bab3c96.svg)
}

.fi-co.fis {
    background-image: url(./co.596558a2.svg)
}

.fi-cr {
    background-image: url(./cr.4775ef01.svg)
}

.fi-cr.fis {
    background-image: url(./cr.b70b33c4.svg)
}

.fi-cu {
    background-image: url(./cu.15013e0b.svg)
}

.fi-cu.fis {
    background-image: url(./cu.0234085b.svg)
}

.fi-cv {
    background-image: url(./cv.2fa67e0a.svg)
}

.fi-cv.fis {
    background-image: url(./cv.1f908f34.svg)
}

.fi-cw {
    background-image: url(./cw.c845d0ca.svg)
}

.fi-cw.fis {
    background-image: url(./cw.f4df53da.svg)
}

.fi-cx {
    background-image: url(./cx.ae25f09c.svg)
}

.fi-cx.fis {
    background-image: url(./cx.55f4387a.svg)
}

.fi-cy {
    background-image: url(./cy.c74cf841.svg)
}

.fi-cy.fis {
    background-image: url(./cy.591e4d4e.svg)
}

.fi-cz {
    background-image: url(./cz.d601fcc2.svg)
}

.fi-cz.fis {
    background-image: url(./cz.5a462b5f.svg)
}

.fi-de {
    background-image: url(./de.761e230a.svg)
}

.fi-de.fis {
    background-image: url(./de.93456a8d.svg)
}

.fi-dj {
    background-image: url(./dj.2a22d382.svg)
}

.fi-dj.fis {
    background-image: url(./dj.84b1dd7e.svg)
}

.fi-dk {
    background-image: url(./dk.d2847c0b.svg)
}

.fi-dk.fis {
    background-image: url(./dk.4d7c9c44.svg)
}

.fi-dm {
    background-image: url(./dm.3eb04b16.svg)
}

.fi-dm.fis {
    background-image: url(./dm.e7be9ce0.svg)
}

.fi-do {
    background-image: url(./do.71b1b3fe.svg)
}

.fi-do.fis {
    background-image: url(./do.75d34f0d.svg)
}

.fi-dz {
    background-image: url(./dz.9ea0cf93.svg)
}

.fi-dz.fis {
    background-image: url(./dz.73f56cc7.svg)
}

.fi-ec {
    background-image: url(./ec.da347b6c.svg)
}

.fi-ec.fis {
    background-image: url(./ec.0d21faad.svg)
}

.fi-ee {
    background-image: url(./ee.06eea21c.svg)
}

.fi-ee.fis {
    background-image: url(./ee.2d048afa.svg)
}

.fi-eg {
    background-image: url(./eg.c5997f42.svg)
}

.fi-eg.fis {
    background-image: url(./eg.dde2f9b7.svg)
}

.fi-eh {
    background-image: url(./eh.a957f2ae.svg)
}

.fi-eh.fis {
    background-image: url(./eh.cc2bf737.svg)
}

.fi-er {
    background-image: url(./er.fb5f4394.svg)
}

.fi-er.fis {
    background-image: url(./er.1e5d7569.svg)
}

.fi-es {
    background-image: url(./es.f9fe443d.svg)
}

.fi-es.fis {
    background-image: url(./es.e651db2a.svg)
}

.fi-et {
    background-image: url(./et.43d5922f.svg)
}

.fi-et.fis {
    background-image: url(./et.e3751fb4.svg)
}

.fi-fi {
    background-image: url(./fi.012edd98.svg)
}

.fi-fi.fis {
    background-image: url(./fi.f4064089.svg)
}

.fi-fj {
    background-image: url(./fj.d7f52f6d.svg)
}

.fi-fj.fis {
    background-image: url(./fj.c399fb81.svg)
}

.fi-fk {
    background-image: url(./fk.d7a1f432.svg)
}

.fi-fk.fis {
    background-image: url(./fk.8b68c7b9.svg)
}

.fi-fm {
    background-image: url(./fm.23db3e9f.svg)
}

.fi-fm.fis {
    background-image: url(./fm.3113102b.svg)
}

.fi-fo {
    background-image: url(./fo.ec85991b.svg)
}

.fi-fo.fis {
    background-image: url(./fo.40e76821.svg)
}

.fi-fr {
    background-image: url(./fr.8cdacc8d.svg)
}

.fi-fr.fis {
    background-image: url(./fr.5cdc5047.svg)
}

.fi-ga {
    background-image: url(./ga.f7b775c4.svg)
}

.fi-ga.fis {
    background-image: url(./ga.cb2951db.svg)
}

.fi-gb {
    background-image: url(./gb.c8be1e72.svg)
}

.fi-gb.fis {
    background-image: url(./gb.c9024642.svg)
}

.fi-gd {
    background-image: url(./gd.ecf92e0e.svg)
}

.fi-gd.fis {
    background-image: url(./gd.05f835f1.svg)
}

.fi-ge {
    background-image: url(./ge.3821d90a.svg)
}

.fi-ge.fis {
    background-image: url(./ge.86bad43b.svg)
}

.fi-gf {
    background-image: url(./gf.cb5464e2.svg)
}

.fi-gf.fis {
    background-image: url(./gf.7643aaa7.svg)
}

.fi-gg {
    background-image: url(./gg.ea806b48.svg)
}

.fi-gg.fis {
    background-image: url(./gg.ca797ce5.svg)
}

.fi-gh {
    background-image: url(./gh.53c55ca4.svg)
}

.fi-gh.fis {
    background-image: url(./gh.5797d82d.svg)
}

.fi-gi {
    background-image: url(./gi.9fde3a8d.svg)
}

.fi-gi.fis {
    background-image: url(./gi.19c80ad2.svg)
}

.fi-gl {
    background-image: url(./gl.15a60b07.svg)
}

.fi-gl.fis {
    background-image: url(./gl.debe7773.svg)
}

.fi-gm {
    background-image: url(./gm.2aa3fad4.svg)
}

.fi-gm.fis {
    background-image: url(./gm.726e760b.svg)
}

.fi-gn {
    background-image: url(./gn.ee01e7dd.svg)
}

.fi-gn.fis {
    background-image: url(./gn.8d20e686.svg)
}

.fi-gp {
    background-image: url(./gp.ee9d78d0.svg)
}

.fi-gp.fis {
    background-image: url(./gp.5f0e3566.svg)
}

.fi-gq {
    background-image: url(./gq.b8d96a07.svg)
}

.fi-gq.fis {
    background-image: url(./gq.26bda313.svg)
}

.fi-gr {
    background-image: url(./gr.a184070f.svg)
}

.fi-gr.fis {
    background-image: url(./gr.a4519d98.svg)
}

.fi-gs {
    background-image: url(./gs.ba7c7e0d.svg)
}

.fi-gs.fis {
    background-image: url(./gs.4f9255c5.svg)
}

.fi-gt {
    background-image: url(./gt.60de265e.svg)
}

.fi-gt.fis {
    background-image: url(./gt.6a60b637.svg)
}

.fi-gu {
    background-image: url(./gu.e5cb4dff.svg)
}

.fi-gu.fis {
    background-image: url(./gu.2301db56.svg)
}

.fi-gw {
    background-image: url(./gw.6b81a234.svg)
}

.fi-gw.fis {
    background-image: url(./gw.8838eee6.svg)
}

.fi-gy {
    background-image: url(./gy.5bd7a7b3.svg)
}

.fi-gy.fis {
    background-image: url(./gy.4564fd57.svg)
}

.fi-hk {
    background-image: url(./hk.d9d142b2.svg)
}

.fi-hk.fis {
    background-image: url(./hk.cb99edfd.svg)
}

.fi-hm {
    background-image: url(./hm.b57fb521.svg)
}

.fi-hm.fis {
    background-image: url(./hm.6c716b74.svg)
}

.fi-hn {
    background-image: url(./hn.67130fa0.svg)
}

.fi-hn.fis {
    background-image: url(./hn.545c93c9.svg)
}

.fi-hr {
    background-image: url(./hr.5e167b3f.svg)
}

.fi-hr.fis {
    background-image: url(./hr.857eefd6.svg)
}

.fi-ht {
    background-image: url(./ht.f360b297.svg)
}

.fi-ht.fis {
    background-image: url(./ht.a1082a19.svg)
}

.fi-hu {
    background-image: url(./hu.ffc4edd5.svg)
}

.fi-hu.fis {
    background-image: url(./hu.9e6bc6d7.svg)
}

.fi-id {
    background-image: url(./id.5cd3acc4.svg)
}

.fi-id.fis {
    background-image: url(./id.b8cd30f2.svg)
}

.fi-ie {
    background-image: url(./ie.f82568d7.svg)
}

.fi-ie.fis {
    background-image: url(./ie.860168f5.svg)
}

.fi-il {
    background-image: url(./il.04a099ac.svg)
}

.fi-il.fis {
    background-image: url(./il.8cf0b4af.svg)
}

.fi-im {
    background-image: url(./im.14dd48d6.svg)
}

.fi-im.fis {
    background-image: url(./im.6f212528.svg)
}

.fi-in {
    background-image: url(./in.91185efa.svg)
}

.fi-in.fis {
    background-image: url(./in.455c32f2.svg)
}

.fi-io {
    background-image: url(./io.0561beab.svg)
}

.fi-io.fis {
    background-image: url(./io.563ebc69.svg)
}

.fi-iq {
    background-image: url(./iq.b6c0c264.svg)
}

.fi-iq.fis {
    background-image: url(./iq.4ab12323.svg)
}

.fi-ir {
    background-image: url(./ir.cb363e09.svg)
}

.fi-ir.fis {
    background-image: url(./ir.83523f8f.svg)
}

.fi-is {
    background-image: url(./is.4ef2de6f.svg)
}

.fi-is.fis {
    background-image: url(./is.e1e1c200.svg)
}

.fi-it {
    background-image: url(./it.9fa88118.svg)
}

.fi-it.fis {
    background-image: url(./it.03086f2e.svg)
}

.fi-je {
    background-image: url(./je.dbdfee3f.svg)
}

.fi-je.fis {
    background-image: url(./je.09ab1aff.svg)
}

.fi-jm {
    background-image: url(./jm.f837df1a.svg)
}

.fi-jm.fis {
    background-image: url(./jm.43b63284.svg)
}

.fi-jo {
    background-image: url(./jo.e3a570d5.svg)
}

.fi-jo.fis {
    background-image: url(./jo.0ec98db3.svg)
}

.fi-jp {
    background-image: url(./jp.bfea80ba.svg)
}

.fi-jp.fis {
    background-image: url(./jp.2bd3a486.svg)
}

.fi-ke {
    background-image: url(./ke.699163d8.svg)
}

.fi-ke.fis {
    background-image: url(./ke.e19798c3.svg)
}

.fi-kg {
    background-image: url(./kg.177caf2d.svg)
}

.fi-kg.fis {
    background-image: url(./kg.1afbc240.svg)
}

.fi-kh {
    background-image: url(./kh.706c89a1.svg)
}

.fi-kh.fis {
    background-image: url(./kh.65671aad.svg)
}

.fi-ki {
    background-image: url(./ki.7d34b300.svg)
}

.fi-ki.fis {
    background-image: url(./ki.7f62d1b7.svg)
}

.fi-km {
    background-image: url(./km.81e1befb.svg)
}

.fi-km.fis {
    background-image: url(./km.5816e126.svg)
}

.fi-kn {
    background-image: url(./kn.0832acb7.svg)
}

.fi-kn.fis {
    background-image: url(./kn.dc5eff37.svg)
}

.fi-kp {
    background-image: url(./kp.c0815d9c.svg)
}

.fi-kp.fis {
    background-image: url(./kp.3ebcde57.svg)
}

.fi-kr {
    background-image: url(./kr.7a6cd5b5.svg)
}

.fi-kr.fis {
    background-image: url(./kr.b6296bfd.svg)
}

.fi-kw {
    background-image: url(./kw.172a4281.svg)
}

.fi-kw.fis {
    background-image: url(./kw.adea2b13.svg)
}

.fi-ky {
    background-image: url(./ky.cedf3c90.svg)
}

.fi-ky.fis {
    background-image: url(./ky.ea74f388.svg)
}

.fi-kz {
    background-image: url(./kz.ff45b584.svg)
}

.fi-kz.fis {
    background-image: url(./kz.bf7d31b6.svg)
}

.fi-la {
    background-image: url(./la.da591b98.svg)
}

.fi-la.fis {
    background-image: url(./la.db27f2de.svg)
}

.fi-lb {
    background-image: url(./lb.251c575c.svg)
}

.fi-lb.fis {
    background-image: url(./lb.4c0ca1b7.svg)
}

.fi-lc {
    background-image: url(./lc.99645e00.svg)
}

.fi-lc.fis {
    background-image: url(./lc.f967e635.svg)
}

.fi-li {
    background-image: url(./li.6dbe6c67.svg)
}

.fi-li.fis {
    background-image: url(./li.42289cca.svg)
}

.fi-lk {
    background-image: url(./lk.7cacc04f.svg)
}

.fi-lk.fis {
    background-image: url(./lk.11a11427.svg)
}

.fi-lr {
    background-image: url(./lr.69f2ce4b.svg)
}

.fi-lr.fis {
    background-image: url(./lr.144dca7c.svg)
}

.fi-ls {
    background-image: url(./ls.83d2e415.svg)
}

.fi-ls.fis {
    background-image: url(./ls.a9f631a2.svg)
}

.fi-lt {
    background-image: url(./lt.dc040199.svg)
}

.fi-lt.fis {
    background-image: url(./lt.8ef0e9cb.svg)
}

.fi-lu {
    background-image: url(./lu.a6c17cd0.svg)
}

.fi-lu.fis {
    background-image: url(./lu.965964b5.svg)
}

.fi-lv {
    background-image: url(./lv.15d4e812.svg)
}

.fi-lv.fis {
    background-image: url(./lv.f4e0567e.svg)
}

.fi-ly {
    background-image: url(./ly.47d96b6e.svg)
}

.fi-ly.fis {
    background-image: url(./ly.66bc7151.svg)
}

.fi-ma {
    background-image: url(./ma.28cfcdec.svg)
}

.fi-ma.fis {
    background-image: url(./ma.8f1a0be2.svg)
}

.fi-mc {
    background-image: url(./mc.690c23fe.svg)
}

.fi-mc.fis {
    background-image: url(./mc.c3aaba7e.svg)
}

.fi-md {
    background-image: url(./md.72e632c4.svg)
}

.fi-md.fis {
    background-image: url(./md.969c6b9c.svg)
}

.fi-me {
    background-image: url(./me.2d8a2d92.svg)
}

.fi-me.fis {
    background-image: url(./me.7a6940d7.svg)
}

.fi-mf {
    background-image: url(./mf.137b371d.svg)
}

.fi-mf.fis {
    background-image: url(./mf.65d7d1af.svg)
}

.fi-mg {
    background-image: url(./mg.59246c21.svg)
}

.fi-mg.fis {
    background-image: url(./mg.f16ffe66.svg)
}

.fi-mh {
    background-image: url(./mh.96d7c0b9.svg)
}

.fi-mh.fis {
    background-image: url(./mh.e0445f99.svg)
}

.fi-mk {
    background-image: url(./mk.22488dc8.svg)
}

.fi-mk.fis {
    background-image: url(./mk.8faba052.svg)
}

.fi-ml {
    background-image: url(./ml.49e84081.svg)
}

.fi-ml.fis {
    background-image: url(./ml.34021383.svg)
}

.fi-mm {
    background-image: url(./mm.c0b2e23a.svg)
}

.fi-mm.fis {
    background-image: url(./mm.ea2756fc.svg)
}

.fi-mn {
    background-image: url(./mn.adf2695f.svg)
}

.fi-mn.fis {
    background-image: url(./mn.ec89ba7f.svg)
}

.fi-mo {
    background-image: url(./mo.72c3a2b0.svg)
}

.fi-mo.fis {
    background-image: url(./mo.cfdee80e.svg)
}

.fi-mp {
    background-image: url(./mp.732180a3.svg)
}

.fi-mp.fis {
    background-image: url(./mp.075ddcdb.svg)
}

.fi-mq {
    background-image: url(./mq.94315e14.svg)
}

.fi-mq.fis {
    background-image: url(./mq.e58f7279.svg)
}

.fi-mr {
    background-image: url(./mr.7f3c3ca0.svg)
}

.fi-mr.fis {
    background-image: url(./mr.4ccf1997.svg)
}

.fi-ms {
    background-image: url(./ms.497011d5.svg)
}

.fi-ms.fis {
    background-image: url(./ms.4c60b890.svg)
}

.fi-mt {
    background-image: url(./mt.1a645024.svg)
}

.fi-mt.fis {
    background-image: url(./mt.c5f4cd2c.svg)
}

.fi-mu {
    background-image: url(./mu.51f86810.svg)
}

.fi-mu.fis {
    background-image: url(./mu.3a73b077.svg)
}

.fi-mv {
    background-image: url(./mv.5546d527.svg)
}

.fi-mv.fis {
    background-image: url(./mv.ecc358a3.svg)
}

.fi-mw {
    background-image: url(./mw.81a7fe8f.svg)
}

.fi-mw.fis {
    background-image: url(./mw.fbc58ca2.svg)
}

.fi-mx {
    background-image: url(./mx.661bdfaf.svg)
}

.fi-mx.fis {
    background-image: url(./mx.c3db636c.svg)
}

.fi-my {
    background-image: url(./my.da82a094.svg)
}

.fi-my.fis {
    background-image: url(./my.f0de0c63.svg)
}

.fi-mz {
    background-image: url(./mz.207c2ddc.svg)
}

.fi-mz.fis {
    background-image: url(./mz.b77277e6.svg)
}

.fi-na {
    background-image: url(./na.caa43fcd.svg)
}

.fi-na.fis {
    background-image: url(./na.eee4a9b1.svg)
}

.fi-nc {
    background-image: url(./nc.f8b9e240.svg)
}

.fi-nc.fis {
    background-image: url(./nc.7a04d17c.svg)
}

.fi-ne {
    background-image: url(./ne.4b91653d.svg)
}

.fi-ne.fis {
    background-image: url(./ne.c92686fc.svg)
}

.fi-nf {
    background-image: url(./nf.298cf95f.svg)
}

.fi-nf.fis {
    background-image: url(./nf.1d8411d2.svg)
}

.fi-ng {
    background-image: url(./ng.b7a2a45a.svg)
}

.fi-ng.fis {
    background-image: url(./ng.a41dbb75.svg)
}

.fi-ni {
    background-image: url(./ni.f3892526.svg)
}

.fi-ni.fis {
    background-image: url(./ni.979c81b0.svg)
}

.fi-nl {
    background-image: url(./nl.54b194d9.svg)
}

.fi-nl.fis {
    background-image: url(./nl.a8b56f7d.svg)
}

.fi-no {
    background-image: url(./no.ceea17af.svg)
}

.fi-no.fis {
    background-image: url(./no.55fc1564.svg)
}

.fi-np {
    background-image: url(./np.09078387.svg)
}

.fi-np.fis {
    background-image: url(./np.18044dd9.svg)
}

.fi-nr {
    background-image: url(./nr.f1de4b06.svg)
}

.fi-nr.fis {
    background-image: url(./nr.c0fc69e7.svg)
}

.fi-nu {
    background-image: url(./nu.835c94f3.svg)
}

.fi-nu.fis {
    background-image: url(./nu.93e802ac.svg)
}

.fi-nz {
    background-image: url(./nz.794a2c8c.svg)
}

.fi-nz.fis {
    background-image: url(./nz.9e6e1d5e.svg)
}

.fi-om {
    background-image: url(./om.bd5e4e78.svg)
}

.fi-om.fis {
    background-image: url(./om.fd3c723f.svg)
}

.fi-pa {
    background-image: url(./pa.6181586e.svg)
}

.fi-pa.fis {
    background-image: url(./pa.0a61ba05.svg)
}

.fi-pe {
    background-image: url(./pe.e9dd299d.svg)
}

.fi-pe.fis {
    background-image: url(./pe.c9852484.svg)
}

.fi-pf {
    background-image: url(./pf.7568f177.svg)
}

.fi-pf.fis {
    background-image: url(./pf.2e2af3a6.svg)
}

.fi-pg {
    background-image: url(./pg.39b3e01c.svg)
}

.fi-pg.fis {
    background-image: url(./pg.7a1f4e7a.svg)
}

.fi-ph {
    background-image: url(./ph.4cccf403.svg)
}

.fi-ph.fis {
    background-image: url(./ph.37c54f47.svg)
}

.fi-pk {
    background-image: url(./pk.d4949a03.svg)
}

.fi-pk.fis {
    background-image: url(./pk.490b17d5.svg)
}

.fi-pl {
    background-image: url(./pl.369bb3e1.svg)
}

.fi-pl.fis {
    background-image: url(./pl.698cda1f.svg)
}

.fi-pm {
    background-image: url(./pm.10cc79ca.svg)
}

.fi-pm.fis {
    background-image: url(./pm.498e2e96.svg)
}

.fi-pn {
    background-image: url(./pn.e4bc9080.svg)
}

.fi-pn.fis {
    background-image: url(./pn.2abb59c8.svg)
}

.fi-pr {
    background-image: url(./pr.968c343f.svg)
}

.fi-pr.fis {
    background-image: url(./pr.044ecbaa.svg)
}

.fi-ps {
    background-image: url(./ps.3045c52b.svg)
}

.fi-ps.fis {
    background-image: url(./ps.20efb813.svg)
}

.fi-pt {
    background-image: url(./pt.55239976.svg)
}

.fi-pt.fis {
    background-image: url(./pt.9c5ea4ae.svg)
}

.fi-pw {
    background-image: url(./pw.a61ab9d9.svg)
}

.fi-pw.fis {
    background-image: url(./pw.77185a59.svg)
}

.fi-py {
    background-image: url(./py.20b8e698.svg)
}

.fi-py.fis {
    background-image: url(./py.ce36335f.svg)
}

.fi-qa {
    background-image: url(./qa.fb955ef3.svg)
}

.fi-qa.fis {
    background-image: url(./qa.d151a4cb.svg)
}

.fi-re {
    background-image: url(./re.7b5a5202.svg)
}

.fi-re.fis {
    background-image: url(./re.a5347d1a.svg)
}

.fi-ro {
    background-image: url(./ro.17a3a747.svg)
}

.fi-ro.fis {
    background-image: url(./ro.b56a867a.svg)
}

.fi-rs {
    background-image: url(./rs.cbd1c389.svg)
}

.fi-rs.fis {
    background-image: url(./rs.05ef37cf.svg)
}

.fi-ru {
    background-image: url(./ru.6c62f886.svg)
}

.fi-ru.fis {
    background-image: url(./ru.5224e89e.svg)
}

.fi-rw {
    background-image: url(./rw.9512100a.svg)
}

.fi-rw.fis {
    background-image: url(./rw.ada409bb.svg)
}

.fi-sa {
    background-image: url(./sa.07dd2814.svg)
}

.fi-sa.fis {
    background-image: url(./sa.81db5d62.svg)
}

.fi-sb {
    background-image: url(./sb.b34eabf3.svg)
}

.fi-sb.fis {
    background-image: url(./sb.d089e4d9.svg)
}

.fi-sc {
    background-image: url(./sc.30cdbe42.svg)
}

.fi-sc.fis {
    background-image: url(./sc.4363a818.svg)
}

.fi-sd {
    background-image: url(./sd.25b3fa24.svg)
}

.fi-sd.fis {
    background-image: url(./sd.61d673be.svg)
}

.fi-se {
    background-image: url(./se.b3b5071e.svg)
}

.fi-se.fis {
    background-image: url(./se.73e67d57.svg)
}

.fi-sg {
    background-image: url(./sg.25de9044.svg)
}

.fi-sg.fis {
    background-image: url(./sg.4aa6c197.svg)
}

.fi-sh {
    background-image: url(./sh.559acea1.svg)
}

.fi-sh.fis {
    background-image: url(./sh.ccb1ab63.svg)
}

.fi-si {
    background-image: url(./si.c73e4b63.svg)
}

.fi-si.fis {
    background-image: url(./si.4d8dd01a.svg)
}

.fi-sj {
    background-image: url(./sj.b60dad0e.svg)
}

.fi-sj.fis {
    background-image: url(./sj.880802e4.svg)
}

.fi-sk {
    background-image: url(./sk.e82f6617.svg)
}

.fi-sk.fis {
    background-image: url(./sk.933c0e9f.svg)
}

.fi-sl {
    background-image: url(./sl.d0c384b0.svg)
}

.fi-sl.fis {
    background-image: url(./sl.feb8b966.svg)
}

.fi-sm {
    background-image: url(./sm.3c448abb.svg)
}

.fi-sm.fis {
    background-image: url(./sm.e6a39dc7.svg)
}

.fi-sn {
    background-image: url(./sn.6437db13.svg)
}

.fi-sn.fis {
    background-image: url(./sn.2c7a8737.svg)
}

.fi-so {
    background-image: url(./so.249e1acb.svg)
}

.fi-so.fis {
    background-image: url(./so.cdd8759b.svg)
}

.fi-sr {
    background-image: url(./sr.5194a6af.svg)
}

.fi-sr.fis {
    background-image: url(./sr.81b54581.svg)
}

.fi-ss {
    background-image: url(./ss.f7ac7017.svg)
}

.fi-ss.fis {
    background-image: url(./ss.2f87b259.svg)
}

.fi-st {
    background-image: url(./st.880c17f9.svg)
}

.fi-st.fis {
    background-image: url(./st.73d3798d.svg)
}

.fi-sv {
    background-image: url(./sv.94e59678.svg)
}

.fi-sv.fis {
    background-image: url(./sv.fc3bb719.svg)
}

.fi-sx {
    background-image: url(./sx.59d017c7.svg)
}

.fi-sx.fis {
    background-image: url(./sx.7937e634.svg)
}

.fi-sy {
    background-image: url(./sy.9f4f226b.svg)
}

.fi-sy.fis {
    background-image: url(./sy.097f5f00.svg)
}

.fi-sz {
    background-image: url(./sz.cc06803f.svg)
}

.fi-sz.fis {
    background-image: url(./sz.f2832775.svg)
}

.fi-tc {
    background-image: url(./tc.83c26721.svg)
}

.fi-tc.fis {
    background-image: url(./tc.542bbd6b.svg)
}

.fi-td {
    background-image: url(./td.19a278fb.svg)
}

.fi-td.fis {
    background-image: url(./td.f5c38f02.svg)
}

.fi-tf {
    background-image: url(./tf.0bf7174a.svg)
}

.fi-tf.fis {
    background-image: url(./tf.9249adfa.svg)
}

.fi-tg {
    background-image: url(./tg.ec624b49.svg)
}

.fi-tg.fis {
    background-image: url(./tg.33598cd0.svg)
}

.fi-th {
    background-image: url(./th.329cc0d5.svg)
}

.fi-th.fis {
    background-image: url(./th.bb8a18d6.svg)
}

.fi-tj {
    background-image: url(./tj.93a976af.svg)
}

.fi-tj.fis {
    background-image: url(./tj.29eb9e2b.svg)
}

.fi-tk {
    background-image: url(./tk.8040c00b.svg)
}

.fi-tk.fis {
    background-image: url(./tk.4c433207.svg)
}

.fi-tl {
    background-image: url(./tl.09c763aa.svg)
}

.fi-tl.fis {
    background-image: url(./tl.caf45b73.svg)
}

.fi-tm {
    background-image: url(./tm.70e92477.svg)
}

.fi-tm.fis {
    background-image: url(./tm.b6616048.svg)
}

.fi-tn {
    background-image: url(./tn.8e0274e5.svg)
}

.fi-tn.fis {
    background-image: url(./tn.bddf1a6c.svg)
}

.fi-to {
    background-image: url(./to.b351703f.svg)
}

.fi-to.fis {
    background-image: url(./to.8f2f476b.svg)
}

.fi-tr {
    background-image: url(./tr.256a1d6a.svg)
}

.fi-tr.fis {
    background-image: url(./tr.d83c3693.svg)
}

.fi-tt {
    background-image: url(./tt.04c13dcd.svg)
}

.fi-tt.fis {
    background-image: url(./tt.4be02a2c.svg)
}

.fi-tv {
    background-image: url(./tv.d94fa5f1.svg)
}

.fi-tv.fis {
    background-image: url(./tv.7415f816.svg)
}

.fi-tw {
    background-image: url(./tw.931757f0.svg)
}

.fi-tw.fis {
    background-image: url(./tw.c04cf00d.svg)
}

.fi-tz {
    background-image: url(./tz.fd317aba.svg)
}

.fi-tz.fis {
    background-image: url(./tz.0c1241a5.svg)
}

.fi-ua {
    background-image: url(./ua.2d869c23.svg)
}

.fi-ua.fis {
    background-image: url(./ua.fd9ad29b.svg)
}

.fi-ug {
    background-image: url(./ug.cfbbc57e.svg)
}

.fi-ug.fis {
    background-image: url(./ug.1c2dc80a.svg)
}

.fi-um {
    background-image: url(./um.60a63330.svg)
}

.fi-um.fis {
    background-image: url(./um.32796aeb.svg)
}

.fi-us {
    background-image: url(./us.e7be4240.svg)
}

.fi-us.fis {
    background-image: url(./us.633325cb.svg)
}

.fi-uy {
    background-image: url(./uy.47656c0b.svg)
}

.fi-uy.fis {
    background-image: url(./uy.560c003d.svg)
}

.fi-uz {
    background-image: url(./uz.62ce6f10.svg)
}

.fi-uz.fis {
    background-image: url(./uz.8f09f1fe.svg)
}

.fi-va {
    background-image: url(./va.78d508db.svg)
}

.fi-va.fis {
    background-image: url(./va.3de11ade.svg)
}

.fi-vc {
    background-image: url(./vc.4e0a8644.svg)
}

.fi-vc.fis {
    background-image: url(./vc.31d13bf0.svg)
}

.fi-ve {
    background-image: url(./ve.5712f1c6.svg)
}

.fi-ve.fis {
    background-image: url(./ve.9052562f.svg)
}

.fi-vg {
    background-image: url(./vg.7cd2b24c.svg)
}

.fi-vg.fis {
    background-image: url(./vg.f56ce78b.svg)
}

.fi-vi {
    background-image: url(./vi.91e6caf9.svg)
}

.fi-vi.fis {
    background-image: url(./vi.990cfac9.svg)
}

.fi-vn {
    background-image: url(./vn.23550372.svg)
}

.fi-vn.fis {
    background-image: url(./vn.7b590ecf.svg)
}

.fi-vu {
    background-image: url(./vu.f7bd4168.svg)
}

.fi-vu.fis {
    background-image: url(./vu.03137169.svg)
}

.fi-wf {
    background-image: url(./wf.ad34db05.svg)
}

.fi-wf.fis {
    background-image: url(./wf.da8ca66e.svg)
}

.fi-ws {
    background-image: url(./ws.6b1a7ebc.svg)
}

.fi-ws.fis {
    background-image: url(./ws.48d15d76.svg)
}

.fi-ye {
    background-image: url(./ye.4ad43705.svg)
}

.fi-ye.fis {
    background-image: url(./ye.8ff200c9.svg)
}

.fi-yt {
    background-image: url(./yt.f6ed4975.svg)
}

.fi-yt.fis {
    background-image: url(./yt.5a57b00a.svg)
}

.fi-za {
    background-image: url(./za.1755a5e1.svg)
}

.fi-za.fis {
    background-image: url(./za.004caac0.svg)
}

.fi-zm {
    background-image: url(./zm.32fbded9.svg)
}

.fi-zm.fis {
    background-image: url(./zm.65843e27.svg)
}

.fi-zw {
    background-image: url(./zw.2bf28f2b.svg)
}

.fi-zw.fis {
    background-image: url(./zw.449e9226.svg)
}

.fi-arab {
    background-image: url(./arab.e6c1aa2e.svg)
}

.fi-arab.fis {
    background-image: url(./arab.cf7dc267.svg)
}

.fi-cefta {
    background-image: url(./cefta.bfefb0f6.svg)
}

.fi-cefta.fis {
    background-image: url(./cefta.0c277cae.svg)
}

.fi-cp {
    background-image: url(./cp.bd880fc5.svg)
}

.fi-cp.fis {
    background-image: url(./cp.7dfc8de4.svg)
}

.fi-dg {
    background-image: url(./dg.6f80e54a.svg)
}

.fi-dg.fis {
    background-image: url(./dg.25d279ba.svg)
}

.fi-eac {
    background-image: url(./eac.0c899038.svg)
}

.fi-eac.fis {
    background-image: url(./eac.efa22f50.svg)
}

.fi-es-ct {
    background-image: url(./es-ct.11229703.svg)
}

.fi-es-ct.fis {
    background-image: url(./es-ct.95f4033c.svg)
}

.fi-es-ga {
    background-image: url(./es-ga.5642a44f.svg)
}

.fi-es-ga.fis {
    background-image: url(./es-ga.4bbb0eb3.svg)
}

.fi-es-pv {
    background-image: url(./es-pv.70a6e0fb.svg)
}

.fi-es-pv.fis {
    background-image: url(./es-pv.f608b2f3.svg)
}

.fi-eu {
    background-image: url(./eu.67040ccd.svg)
}

.fi-eu.fis {
    background-image: url(./eu.019d50bf.svg)
}

.fi-gb-eng {
    background-image: url(./gb-eng.53797ba9.svg)
}

.fi-gb-eng.fis {
    background-image: url(./gb-eng.2dd36838.svg)
}

.fi-gb-nir {
    background-image: url(./gb-nir.a34747d6.svg)
}

.fi-gb-nir.fis {
    background-image: url(./gb-nir.fa653b48.svg)
}

.fi-gb-sct {
    background-image: url(./gb-sct.7b55bce7.svg)
}

.fi-gb-sct.fis {
    background-image: url(./gb-sct.19ed371e.svg)
}

.fi-gb-wls {
    background-image: url(./gb-wls.3a95845d.svg)
}

.fi-gb-wls.fis {
    background-image: url(./gb-wls.d3c5b996.svg)
}

.fi-ic {
    background-image: url(./ic.9a584e04.svg)
}

.fi-ic.fis {
    background-image: url(./ic.4e5a5e63.svg)
}

.fi-pc {
    background-image: url(./pc.540c3f0b.svg)
}

.fi-pc.fis {
    background-image: url(./pc.502e1da5.svg)
}

.fi-sh-ac {
    background-image: url(./sh-ac.2ef919af.svg)
}

.fi-sh-ac.fis {
    background-image: url(./sh-ac.0f40c2bc.svg)
}

.fi-sh-hl {
    background-image: url(./sh-hl.6d3a5278.svg)
}

.fi-sh-hl.fis {
    background-image: url(./sh-hl.406181ee.svg)
}

.fi-sh-ta {
    background-image: url(./sh-ta.4ccf3700.svg)
}

.fi-sh-ta.fis {
    background-image: url(./sh-ta.279da87c.svg)
}

.fi-un {
    background-image: url(./un.d088c3e3.svg)
}

.fi-un.fis {
    background-image: url(./un.8cf05f44.svg)
}

.fi-xk {
    background-image: url(./xk.b73926fa.svg)
}

.fi-xk.fis {
    background-image: url(./xk.e5bdc61c.svg)
}