@import"https://fonts.googleapis.com/css2?family=Anton&display=swap";
.text-gold[data-v-55e5e2f3] {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .1px #760012;
    background: linear-gradient(#ffd855, #f7ef8a, #ffd855, #f7ef8a, #ffd855);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Anton, serif;
    line-height: 1.3
}

.winnerpopup-bg[data-v-55e5e2f3] {
    align-content: center;
    background-color: #0000008c;
    cursor: pointer;
    display: none;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999
}

.winnerpopup-bg .winnerpopup-cont-main[data-v-55e5e2f3] {
    bottom: 75px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%) skew(-1deg, -6deg);
    width: 300px
}

.winnerpopup-bg .winnerpopup-cont-left[data-v-55e5e2f3] {
    left: 38px;
    width: 203px
}

.winnerpopup-bg .winnerpopup-cont-left[data-v-55e5e2f3],
.winnerpopup-bg .winnerpopup-cont-right[data-v-55e5e2f3] {
    align-items: center;
    bottom: 31px;
    color: #fff;
    display: flex;
    font-size: 12px;
    height: 36px;
    justify-content: center;
    position: absolute
}

.winnerpopup-bg .winnerpopup-cont-right[data-v-55e5e2f3] {
    right: 38px;
    width: 170px
}

.winnerpopup-bg .winnerpopup[data-v-55e5e2f3] {
    border-radius: 8px;
    height: auto;
    margin: -100px 15px 0;
    max-width: 450px;
    position: relative;
    width: 100%
}

.winnerpopup-bg .winnerpopup .jumbopopup-content[data-v-55e5e2f3] {
    background-image: url(../assets/img/winners-popup-jumbo-jackpot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    padding: 15px
}

.winnerpopup-bg .winnerpopup .jumbopopup-content img[data-v-55e5e2f3] {
    border-radius: 5px;
    width: 100%
}

.winnerpopup-bg .winnerpopup .megapopup-content[data-v-55e5e2f3] {
    background-image: url(../assets/img/winners-popup-mega-jackpot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    padding: 15px
}

.winnerpopup-bg .winnerpopup .megapopup-content img[data-v-55e5e2f3] {
    border-radius: 5px;
    width: 100%
}

.winnerpopup-bg .winnerpopup .royalpopup-content[data-v-55e5e2f3] {
    background-image: url(../assets/img/winners-popup-royal-jackpot.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    padding: 15px
}

.winnerpopup-bg .winnerpopup .royalpopup-content img[data-v-55e5e2f3] {
    border-radius: 5px;
    width: 100%
}

.winnerpopup-bg .winnerpopup .close-btn[data-v-55e5e2f3] {
    align-items: center;
    background-color: red;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 30px
}

.winnerpopup-bg .winnerpopup .close-btn i[data-v-55e5e2f3] {
    display: contents;
    font-size: 22px
}

.ext-content[data-v-55e5e2f3] {
    bottom: -80px;
    left: 50%;
    max-width: 450px;
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    width: 100%
}

.show-winnerpopup-box[data-v-55e5e2f3] {
    display: flex !important;
    visibility: visible !important
}

@media (max-width:767.98px) {
    .winnerpopup-bg[data-v-55e5e2f3] {
        align-content: baseline
    }
    .winnerpopup-bg .winnerpopup[data-v-55e5e2f3] {
        margin: 15px 15px 0;
        width: 345px
    }
    .respon-title[data-v-55e5e2f3] {
        font-size: 10px;
        margin-bottom: 5px
    }
    .respon[data-v-55e5e2f3] {
        margin-top: 23px;
        padding: 0 35px !important
    }
    .respon p[data-v-55e5e2f3] {
        font-size: 8px
    }
    .respon .resp-pd-1[data-v-55e5e2f3] {
        margin-bottom: 5px;
        margin-top: 5px
    }
    .respon .resp-pd[data-v-55e5e2f3] {
        margin-bottom: 0 !important;
        margin-top: 0 !important
    }
    .winnerpopup-bg .winnerpopup .close-btn[data-v-55e5e2f3] {
        display: none
    }
    .winnerpopup-bg .megapopup-content[data-v-55e5e2f3] {
        padding: 55px 15px
    }
    .winnerpopup-bg .winnerpopup-cont-main[data-v-55e5e2f3] {
        bottom: 168px
    }
    .winnerpopup-bg .winnerpopup-cont-left[data-v-55e5e2f3] {
        bottom: 128px;
        font-size: 11px;
        height: 30px;
        left: 29px;
        width: 155px
    }
    .winnerpopup-bg .winnerpopup-cont-right[data-v-55e5e2f3] {
        bottom: 128px;
        font-size: 10px;
        height: 30px;
        right: 30px;
        width: 140px
    }
    .ext-content[data-v-55e5e2f3] {
        bottom: -4px
    }
}

.popup-bg {
    align-content: center;
    background-color: #0000008c;
    cursor: pointer;
    display: none;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999
}

.popup-bg .popup {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: #28282866;
    border-radius: 8px;
    height: auto;
    margin: 0 15px;
    max-width: 600px;
    position: relative;
    width: 100%
}

.popup-bg .popup-content {
    padding: 15px
}

.popup-bg .popup-content img {
    border-radius: 5px;
    width: 100%
}

.popup-bg .popup .close-btn {
    align-items: center;
    background-color: red;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px
}

.popup-bg .popup .close-btn i {
    display: contents;
    font-size: 22px
}

.show-popup-box {
    display: flex !important;
    visibility: visible !important
}

.wishpopup-bg {
    align-content: center;
    background-color: #0000008c;
    cursor: pointer;
    display: none;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999
}

.wishpopup-bg .wishpopup {
    border-radius: 8px;
    height: auto;
    margin: 0 15px;
    max-width: 800px;
    position: relative;
    width: 100%
}

.wishpopup-bg .wishpopup-content {
    background-image: url(../assets/img/pop-design.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    padding: 15px
}

.wishpopup-bg .wishpopup-content img {
    border-radius: 5px;
    width: 100%
}

.wishpopup-bg .wishpopup .close-btn {
    align-items: center;
    background-color: red;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 35px;
    top: 45px;
    width: 30px
}

.wishpopup-bg .wishpopup .close-btn i {
    display: contents;
    font-size: 22px
}

.show-wishpopup-box {
    display: flex !important;
    visibility: visible !important
}

@media (max-width:767.98px) {
    .wishpopup-bg .wishpopup-content {
        background-position: 50%;
        height: auto
    }
    .respon-title {
        font-size: 10px;
        margin-bottom: 5px
    }
    .respon {
        margin-top: 23px;
        padding: 0 35px !important
    }
    .respon p {
        font-size: 8px
    }
    .respon .resp-pd-1 {
        margin-bottom: 5px;
        margin-top: 5px
    }
    .respon .resp-pd {
        margin-bottom: 0 !important;
        margin-top: 0 !important
    }
    .wishpopup-bg .wishpopup .close-btn {
        display: none
    }
    .wishpopup-bg .wishpopup-content {
        padding: 55px 15px
    }
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    position: relative;
    transition-property: transform, visibility, opacity;
    white-space: normal
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    border-top-color: initial;
    border-width: 8px 8px 0;
    bottom: -7px;
    left: 0;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: initial;
    border-width: 0 8px 8px;
    left: 0;
    top: -7px;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-left-color: initial;
    border-width: 8px 0 8px 8px;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    border-right-color: initial;
    border-width: 8px 8px 8px 0;
    left: -7px;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    color: #333;
    height: 16px;
    width: 16px
}

.tippy-arrow:before {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute
}

.tippy-content {
    padding: 5px 9px;
    position: relative;
    z-index: 1
}

.winner-txt i {
    color: #88703e
}

.winner-txt:after {
    background-color: #ecc762;
    border-radius: 3px;
    content: "";
    display: block;
    height: 13px;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    width: 13px;
    z-index: 1
}

.qlink-box {
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
    transition: all .3s ease
}

.qlink-box div {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    align-items: center;
    background-color: rgb(68 68 68/var(--tw-bg-opacity));
    border-radius: .5rem;
    color: rgb(236 199 98/var(--tw-text-opacity));
    display: flex;
    font-size: 2.25rem;
    height: 60px;
    justify-content: center;
    line-height: 2.5rem;
    margin-right: 1.25rem;
    transition: all .3s ease;
    width: 55px
}

.qlink-box a {
    width: calc(100% - 75px)
}

.qlink-box a p {
    color: #fff;
    font-size: 18px
}

.qlink-box a p,
.qlink-box a span {
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease
}

.qlink-box a span {
    color: #ecc762;
    font-size: 14px
}

.qlink-box a i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease
}

.qlink-box:hover {
    background-color: #ecc762
}

.qlink-box:hover div {
    --tw-bg-opacity: 1;
    background-color: rgb(191 149 63/var(--tw-bg-opacity))
}

.qlink-box:hover div i {
    color: #fff !important
}

.qlink-box:hover p {
    color: #222
}

.qlink-box:hover span {
    color: #88703e
}

.qlink-box:hover i {
    color: #222
}

.qlink-box-2,
.qlink-box-2 div {
    border-radius: .5rem;
    transition: all .3s ease
}

.qlink-box-2 div {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    align-items: center;
    background-color: rgb(238 238 238/var(--tw-bg-opacity));
    color: rgb(191 149 63/var(--tw-text-opacity));
    display: flex;
    font-size: 2.25rem;
    height: 60px;
    justify-content: center;
    line-height: 2.5rem;
    margin-right: 1.25rem;
    width: 60px
}

.qlink-box-2 a {
    position: relative;
    width: calc(100% - 80px)
}

.qlink-box-2 a p {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease
}

.qlink-box-2 a span.wallet-desc {
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize
}

.qlink-box-2 a span.wallet-lin {
    align-items: center;
    color: #88703e;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -6px;
    text-transform: uppercase;
    transition: all .3s ease
}

.qlink-box-2 a span.wallet-lin-btn:after {
    background-color: #111;
    border-radius: 5px;
    color: #fff;
    content: "Add Fund";
    display: inline-block;
    font-size: 9px;
    margin-left: 5px;
    padding: 2px 5px;
    transition: all .2s ease
}

.qlink-box-2 a i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease
}

.qlink-box-2:hover span.wallet-lin-btn:after {
    background-color: #88703e;
    color: #fff
}

@media (max-width:767.98px) {
    .qlink-box {
        padding: 1rem
    }
}

@media (max-width:1430.98px) {
    .qlink-box a p {
        font-size: 14px
    }
    .qlink-box a span {
        font-size: 12px
    }
    .qlink-box div {
        font-size: 24px;
        height: 50px;
        margin-right: 15px;
        width: 50px
    }
    .qlink-box {
        padding: 15px
    }
    .qlink-box-2 a p {
        font-size: 16px
    }
    .qlink-box-2 a span.wallet-lin-btn:after {
        font-size: 6px
    }
    .qlink-box-2 a span.wallet-lin {
        font-size: 12px
    }
    .ticbox__top {
        padding: 15px 17px
    }
    .ticbox__top--left p {
        font-size: 24px;
        margin-top: 17px
    }
    .ticbox__top--left span {
        padding: 6px 13px
    }
    .qlink-box-2 div {
        height: 45px;
        margin-right: 10px;
        width: 45px
    }
    .qlink-box-2 div i {
        font-size: 24px
    }
    .qlink-box-2 a {
        width: calc(100% - 55px)
    }
    .qlink-box-2 a span {
        font-size: 14px
    }
    .qlink-box-2 img {
        width: 30px
    }
}

@media (min-width:1040px) {
    .dtimer {
        display: none
    }
}