.currentpage[data-v-c94c6b57] {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(254 252 232/var(--tw-bg-opacity));
    border-color: rgb(234 179 8/var(--tw-border-opacity));
    border-width: 1px;
    color: rgb(234 179 8/var(--tw-text-opacity))
}