.scrollbar__thumbPlaceholder {
    align-items: center;
    contain: strict;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    transition: opacity 275ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.scrollbar__thumbPlaceholder--vertical {
    right: 0;
    top: 3px;
    width: 12px
}

.scrollbar__thumbPlaceholder--horizontal {
    bottom: 0;
    height: 12px;
    left: 3px
}

.scrollbar__thumbPlaceholder--autoHide {
    opacity: 0
}

.scrollbar__thumbPlaceholder--scrolling,
.scrollbar__thumbPlaceholder:hover>.scrollbar__thumb {
    opacity: 1
}

.scrollbar__thumbPlaceholder--autoExpand:hover>.scrollbar__thumb--vertical {
    transform: scaleX(1.5)
}

.scrollbar__thumbPlaceholder--autoExpand:hover>.scrollbar__thumb--horizontal {
    transform: scaleY(1.5)
}

.scrollbar__thumb {
    background-color: #091e4280;
    border-radius: 4px;
    contain: strict;
    opacity: .6;
    transition: opacity 275ms ease, transform .2s ease
}

.scrollbar__thumb--vertical {
    height: 100%;
    width: 66.667%
}

.scrollbar__thumb--horizontal {
    height: 66.667%;
    width: 100%
}

.scrollbar__shepherd {
    contain: strict;
    position: absolute
}

.scrollbar__shepherd--vertical {
    height: 1000;
    right: 0;
    top: 0;
    width: 0
}

.scrollbar__shepherd--horizontal {
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%
}

.scrollbar__wrapper {
    height: -moz-fit-content;
    height: fit-content;
    position: relative
}

.scrollbar__wrapper:hover>.scrollbar__thumbPlaceholder {
    opacity: 1
}

.scrollbar__scroller {
    -ms-overflow-style: none;
    overflow: auto;
    scroll-behavior: auto !important;
    scrollbar-width: none
}

.scrollbar__scroller::-webkit-scrollbar {
    display: none
}

.scrollbar__content--vertical {
    display: block
}

.scrollbar__content--vertical.scrollbar__content--fixedThumb {
    display: inline-block
}

.scrollbar__content--horizontal {
    display: inline-flex
}